table{
    border-collapse: collapse;
    background: grey;
}

table tr td, tr th{
    border: 1px solid;
}

table tr .focus{
    width: 15%;
    text-align: center;
}

#transfers{
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid;
    width: 80%;
}

#transfers tr th{
    font-size: x-large;
}

#transfers tr td{
    border: none;
    border-right: 1px solid;
}

#legends{
    width: 80%;
}

#legends tr td, #legends tr th{
    width: 5%;
}

#legends tr .focus{
    width: 20%;
}

#roster tr td, #roster tr th{
    width: 20%;
}

#achievements tr td, #achievements tr th{
    text-align: center;
    width: 23%;
}

#achievements tr .time{
    text-align: left;
}

#social_media tr td{
    border: none;
    background: red;
}