#legends{
    border-collapse: collapse;
    width: 80%;
}

#legends tr td, #legends tr th{
    border: 1px solid;
    width: 5%;
}

#legends tr .focus{
    width: 20%;
    text-align: center;
}

#roster{
    border-collapse: collapse;
}

#roster tr td, #roster tr th{
    border: 1px solid;
    width: 20%;
}

#achievements{
    border-collapse: collapse;
}

#achievements tr td, #achievements tr th{
    border: 1px solid;
    text-align: center;
    width: 20%;
}

#achievements tr .time{
    text-align: left;
}